
#banner.div{
  width: 100%;
  position:fixed;
  left:0;
  right:0;
  top:0;
  display:block;
  min-width: 800px;
  
}

#banner.img{
    width:100%;
   min-height:30px;
}



div.intro 
{
    //position:relative;
    //display:block;
     margin-top: 15%;
    //margin-bottom: 0px;
    margin-right: 0px;
   text-align: center;
   margin-right: 0;
   min-width: 800px;

}

p.intro{
    font-size:30px;
    
}

.startbutton{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 800px;
}

#frame.div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}

#frame.img{
    width:70%;
    min-width: 600px;
}

.inframe_text{
    //display:block;
    font-size: 20px;
    position: absolute;
    margin-left: 25%;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}

form {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}