form {
    position:relative;
    text-align: left;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    z-index: 1;
}

#banner{
    width: 100%;
    position: fixed;
    left:0;
    right:0;
    top:0;
}

#wrapper{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 1px 1px 1px 1px #1f1f1f;
    min-width: 1000px;
}

#content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#leftContent {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;    
}

#dropdown {
    width:20%;
    float: left;
    margin-left: 10%;
    margin-right: 7%; 
}

#dropdown select {
    width: 100%;
}

#beskr {
    resize: none;
    width: 100%;
}

#intro {
    margin-right: 0px;
    text-align: center;
    margin-right: 0;
    min-width: 800px;
}

#intro p{
    font-size:30px;
}

#startbutton{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#left_box{

    display: inline-block;
    border: solid;
    border-width: 5px;
    border-color: #999999;
    width: 400px;
    min-height: 300px;
    padding-top: 10px;
    padding-bottom: 20px;
    //float:left;
}

#left_box img{
    width:200px;
}

#left_box a {
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#chbutton {
    background: green;
}
.cobutton {
    background: grey;
}

#right_box{
    display: inline-block;
    border:solid;
    border-width: 5px;
    border-color: #E8C6B6;
    width: 400px;
    min-height: 300px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#configMagic{
    width: 500px;
}

#eButton{
    text-align: center;
}

#exterminate {
    text-align: center;
    color: red;
}

img.banner{
    position: absolute;
    width:100%;
    height:80px;
    width:auto;
    top:0;
}

img.extension{
    width:100%;
    max-height: 80px;
    top:0;
    z-index:0;
}

.abutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

#configstats{
    margin-top: 5px;
    display: inline-block;

    margin-right: 10px;
}

#pureStat{
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-color: black;
    color:red;
}

#mainComponent{
    font-weight: bold;
}

#dynamicTable 
{
    border-width: 1px;
    border:solid;
    border-color: black;
    display:block;
    position: relative;
    
}

li {
    text-align: left;
}

