/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Oct-2014, 13:40:00
    Author     : vidar
*/

div.banner{
  width: 100%;
  position:fixed;
  left:0;
  right:0;
  top:0;
  display:block;
}

img.banner{
    width:100%;
}