/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Oct-2014, 13:40:00
    Author     : vidar
*/

banner{
  width: 100%;
  height: auto;
  
}

div.intro p
{
     margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
   text-align: center;
   margin-right: 0;
   
}