
div.banner{
  width: 100%;
  position:fixed;
  left:0;
  right:0;
  top:0;
  display:block;
  min-width: 800px;
}

img.banner{
    width:100%;
   
}



div.intro 
{
    //position:relative;
    display:block;
     margin-top: 15%;
    //margin-bottom: 0px;
    margin-right: 0px;
   text-align: center;
   margin-right: 0;
   min-width: 800px;

}

p.intro{
    font-size:30px;
    
}